<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

         {% block styles %}
         {{ bootstrap.load_css() }}
        {% endblock %}
    <title>{% block title %}{% endblock %}</title>

<!--    <style>-->
<!--        {% block biba %}-->
<!--        body{-->
<!--            background: green;-->
<!--        }-->
<!--        {% endblock %}-->
<!--    </style>-->
</head>
<body style="background:blue">
    {% block content %}{% endblock %}
    {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
        {% endblock %}
</body>
</html>